@import (reference) "main.less";

.sprint-selection {
  .top-margin-panel;
  min-width: 280px;
}

.sprint-data-panel {
  .top-margin-panel;
  display: block;
  width: 100%;
}

#sprint-panel {
  .top-margin-panel;
  padding-left: 20px;
}


