@(stats: entities.Statistics, workingDays:Seq[Tuple2[String, Int]])

@main("Dashboard",0) {
    <link rel="import" href="@routes.Assets.at("bower_components/mm.webcomponents/timeline/timeline.html")" />
    <link rel="import" href="@routes.Assets.at("bower_components/paper-input/paper-input.html")" />
    <link rel="import" href="@routes.Assets.at("bower_components/paper-icon-button/paper-icon-button.html")" />
    <link rel="import" href="@routes.Assets.at("bower_components/core-collapse/core-collapse.html")" />
    <link rel="import" href="@routes.Assets.at("bower_components/core-menu/core-menu.html")" />
    <link rel="import" href="@routes.Assets.at("bower_components/paper-dropdown/paper-dropdown.html")" />
    <link rel="import" href="@routes.Assets.at("bower_components/paper-item/paper-item.html")" />
    <link rel="import" href="@routes.Assets.at("bower_components/paper-dropdown-menu/paper-dropdown-menu.html")" />


    <script src="@routes.Assets.at("javascripts/dashboard.js")" type="text/javascript"></script>
    <script src="@routes.Dashboard.javascriptRoutes" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dashboard.css")">

    <div id="vacation-info">
    </div>

    <div class="timeline-panel">
        <timeline-panel id="dashboard-timeline" fromDate="@stats.fromDate" toDate="@stats.toDate" selection="none">
        </timeline-panel>
    </div>
    <div class="top-margin-panel">
        <br/>
        Timeline range:
        <br/>
        <div class="flex-container">
            <paper-input id="fromDate" class="flex-item" label="from date" value="@stats.fromDate" floatingLabel></paper-input>
            <paper-input id="toDate" class="flex-item" label="to date" value="@stats.toDate" floatingLabel></paper-input>
            <paper-icon-button icon="refresh" onclick="sc_dashboard.refreshTimeline();"></paper-icon-button>
        </div>
    </div>
    @components.collapse("statsummary", "Statistics summary") {
        Enclosed sprints:<br/>
        @for(name <- stats.sprintsNames) {
            &nbsp;&nbsp;@name <br/>
        }
        <br/>
        <table border="0">
        @for(wdData <- workingDays) {
            <tr>
                <td> @wdData._1 </td><td> @wdData._2 </td>
            </tr>
        }
        </table>
    }
    @components.velocitypanel(stats.globalVelocity)

    @components.velocitypanel(stats.totalVelocity)

    @stats.calculateVelocities.map(components.velocitypanel(_))
}

