@(employees: Seq[String])(implicit request: RequestHeader)


@main("Vacations",1) {
    <script src="@routes.Assets.at("javascripts/vacations.js")" type="text/javascript"></script>


    <div horizontal layout wrap>
        @employees.map { case employee =>
            @views.html.components.listbox("vacationsOf"+employee,employee+"'s vacations", validation="vacation_editbox.validate", conversion="vacation_editbox.convert")
        }
    </div>

    <div class="footer-panel">
        <core-icon-button id="saveBtn" icon="save"><span>Save</span></core-icon-button>
    </div>

}